@media (min-width: 740px) and (max-width: 1023px) {
    #content-about .sub-content {
        display: none;
    }

    #content-menu .content-section {
        flex-direction: column;
    }
    
    #content-menu .section-img {
        margin-top: 37px;
    }

    #content-menu .section-img img {
        width: 100%;
        height: auto;
    }
}